<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']">filmarchive</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']">about</a>
                </li> -->
                <li *ngIf="devMode" class="nav-item">
                    <a class="nav-link" style="color:orange" (click)="onDevAddFilms()">dev</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/films']" [routerLinkActive]="['active']">films</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        my account
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a
                              *ngIf="!user;else elseBlock"
                              class="dropdown-item"
                              [routerLink]="['/login']">log in</a>
                            <ng-template #elseBlock>
                                <a style="cursor:default">{{user?.email | slice:0:16}}</a>
                            </ng-template>
                        </li>
                        <li><a
                          class="dropdown-item"
                          [class.disabled]="!user"
                          [routerLink]="['/films/add']">add film</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a
                          class="dropdown-item"
                          [class.disabled]="!user"
                          (click)="onLogout()">log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>